/* resert */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    --toolbar-color: #272727;
    --background-color: #000000;
    --header-bedge-color: #505050;
}

ul {
    list-style: none;
}

/* general */

#app {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    color: white;
}

header {
    width: 100%;
    height: 50px;
    gap: 10px;
}

.header-bedge {
    background-color: var(--header-bedge-color);
    padding: 5px;
    border-radius: 5px;
}

main {
    width: 100%;
    padding: 20px;
    gap: 10px;
    height: calc(100% - 120px);
    overflow-y: auto;
}

.card {
    width: calc(100% / 7 - 10px);
    aspect-ratio: 16 / 9;
    position: relative;
}

.card-bedge {
    position: absolute;
    bottom: 1px;
    background-color: rgba(93, 109, 126 , 0.3);
    padding: 2px;
}

img {
    max-width: 100%;
    min-width: 100%;
    display: block;
}

.gap {
    gap: 5px;
}

.text-center {
    text-align: center;
}

#toolbar {
    background-color: var(--toolbar-color);
    height: 70px;
}

.inline {
    display: inline-block;
}

.padding {
    padding: 10px;
}

/* flex utility */

.d-flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
    align-content: center;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}
/* left toolbar */

.left-toolbar {
    padding: 0 10px;
}

/* center toolbar */

.share {
    color: green;
}

/* right toolbar */

.end-meeting {
    color: red;
}

.right-toolbar {
    background-color: var(--header-bedge-color);
    height: 100%;
    line-height: 70px;
    padding: 0 5px;
}